* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    padding: 15px 0;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start; 
    padding-left: 20px; 
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #555;
    border-radius: none;
}

.background {
    background-image: url('img/map.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.contact {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    max-width: 600px;
    text-align: center;
    border-radius: 8px;
}

.contact h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 1em;
    color: #333;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
}

form textarea {
    resize: none;
}

form button {
    padding: 10px;
    font-size: 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}
